In [3]:
import pandas as pd

### Gộp link hình ảnh vào file Product.csv

In [3]:
df_hinhanh = pd.read_csv('data/hinhanh.csv')

In [6]:
df_hinhanh.shape

(1127, 3)

In [7]:
df_hinhanh=df_hinhanh.drop_duplicates()
df_hinhanh.shape

(1127, 3)

In [8]:
df_hinhanh=df_hinhanh.dropna()
df_hinhanh.shape

(1127, 3)

In [9]:
df_hinhanh = df_hinhanh.drop(columns='hinh_anh')

In [10]:
df_hinhanh.rename(columns={"hinh_anh_2": "hinh_anh"}, inplace=True)

In [11]:
df_hinhanh.head()

   ma_san_pham                                           hinh_anh
0    253900006  https://media.hcdn.vn/catalog/product/p/r/prom...
1    422218358  https://media.hcdn.vn/catalog/product/p/r/prom...
2    422218359  https://media.hcdn.vn/catalog/product/p/r/prom...
3    204900013  https://media.hcdn.vn/catalog/product/p/r/prom...
4    100160022  https://media.hcdn.vn/catalog/product/p/r/prom...

In [4]:
df_product = pd.read_csv('data/Product.csv')
df_product.shape

(1219, 8)

In [14]:
df_product = df_product.drop(columns=['hinh_anh','Unnamed: 0'])

In [15]:
df_product.head()

,ma_san_pham,ten_san_pham,gia_ban,gia_goc,phan_loai,mo_ta,diem_trung_binh
0,318900012,Nước Hoa Hồng Klairs Không Mùi Cho Da Nhạy Cảm...,209000,435000.0,2x180ml 180ml Không Mùi Có Mùi Hương,Nước Hoa Hồng Klairs Supple Preparation là dòn...,4.8
1,205100137,"Nước Tẩy Trang L'Oreal Tươi Mát Cho Da Dầu, Hỗ...",147000,229000.0,2x400ml 95ml 400ml Làm Sạch Sâu Tươi Mát Da Ki...,Nước Tẩy Trang L'Oréal là dòng sản phẩm tẩy tr...,4.7
2,422208973,Sữa Rửa Mặt CeraVe Sạch Sâu Cho Da Thường Đến ...,343000,455000.0,88ml 236ml 473ml Da khô/Hỗn hợp khô Da dầu/Hỗn...,Sữa Rửa Mặt Cerave Sạch Sâu là sản phẩm sữa rử...,4.9
3,204900013,Kem Chống Nắng La Roche-Posay Kiểm Soát Dầu SP...,377000,560000.0,2x50ml 50ml,Kem chống nắng giúp bảo vệ da khỏi tia UVB & U...,4.6
4,253900006,Kem Chống Nắng Skin1004 Cho Da Nhạy Cảm SPF 50...,210000,445000.0,20ml 50ml,Kem Chống Nắng Skin1004 Cho Da Nhạy Cảm là sản...,4.6

In [16]:
df_merged = pd.merge(df_product, df_hinhanh, on="ma_san_pham",how="left")
print(df_merged)

      ma_san_pham                                       ten_san_pham  gia_ban  \
0       318900012  Nước Hoa Hồng Klairs Không Mùi Cho Da Nhạy Cảm...   209000
1       205100137  Nước Tẩy Trang L'Oreal Tươi Mát Cho Da Dầu, Hỗ...   147000
2       422208973  Sữa Rửa Mặt CeraVe Sạch Sâu Cho Da Thường Đến ...   343000
3       204900013  Kem Chống Nắng La Roche-Posay Kiểm Soát Dầu SP...   377000
4       253900006  Kem Chống Nắng Skin1004 Cho Da Nhạy Cảm SPF 50...   210000
...           ...                                                ...      ...
1214    422219670  Serum Chống Nắng Dưỡng Thể Bioré Peach Pearly ...   185000
1215    226200001                      Khăn Tẩy Trang Acnes 20 Miếng    53000
1216    422218200  Mặt Nạ Colorkey Dưỡng Ẩm Sáng Da Với Niacinami...    11000
1217    422206775  [Mua 1 Tặng 1] Freeplus Kem Dưỡng Ẩm Màng Nước...   899000
1218    422207117  Lotion Curél Dưỡng Ẩm Chuyên Sâu Cho Da Lão Hó...   494000

       gia_goc                                          phan_loai  \
0     435000.0               2x180ml 180ml Không Mùi Có Mùi Hương
1     229000.0  2x400ml 95ml 400ml Làm Sạch Sâu Tươi Mát Da Ki...
2     455000.0  88ml 236ml 473ml Da khô/Hỗn hợp khô Da dầu/Hỗn...
3     560000.0                                        2x50ml 50ml
4     445000.0                                          20ml 50ml
...        ...                                                ...
1214  259000.0                      Light To Medium Medium To Tan
1215   65000.0                                                NaN
1216   15000.0  1 miếng 10 miếng Dưỡng Ẩm Ngừa Nụn Dưỡng Ẩm Dị...
1217  945000.0                                                NaN
1218  641000.0                                                NaN

                                                  mo_ta  diem_trung_binh  \
0     Nước Hoa Hồng Klairs Supple Preparation là dòn...              4.8
1     Nước Tẩy Trang L'Oréal là dòng sản phẩm tẩy tr...              4.7
2     Sữa Rửa Mặt Cerave Sạch Sâu là sản phẩm sữa rử...              4.9
3     Kem chống nắng giúp bảo vệ da khỏi tia UVB & U...              4.6
4     Kem Chống Nắng Skin1004 Cho Da Nhạy Cảm là sản...              4.6
...                                                 ...              ...
1214  Serum Chống Nắng Dưỡng Thể Bioré UV Aqua Rich ...              0.0
1215  Khăn Giấy Tẩy Trang Acnes Make Up Remover Shee...              3.5
1216  Mặt Nạ Colorkey Luminous B5 Facial Mask 25ml l...              4.0
1217  Bộ sản phẩm bao gồm 2 món:Kem Dưỡng Ẩm Màng Nư...              0.0
1218  Lotion Curél Dưỡng Ẩm Chuyên Sâu Cho Da Lão Hó...              5.0

                                               hinh_anh
0     https://media.hcdn.vn/catalog/product/p/r/prom...
1     https://media.hcdn.vn/catalog/product/f/a/face...
2     https://media.hcdn.vn/catalog/product/p/r/prom...
3     https://media.hcdn.vn/catalog/product/p/r/prom...
4     https://media.hcdn.vn/catalog/product/p/r/prom...
...                                                 ...
1214                                                NaN
1215  https://media.hcdn.vn/catalog/product/f/a/face...
1216                                                NaN
1217  https://media.hcdn.vn/catalog/product/f/a/face...
1218                                                NaN

[1219 rows x 8 columns]

In [21]:
len(df_merged)

1219

In [24]:
df_merged['hinh_anh'].isna().sum()

np.int64(693)

In [25]:
df_merged['hinh_anh'] = df_merged['hinh_anh'].fillna('https://hasaki.vn/img/placeholder.svg')

In [27]:
df_merged['phan_loai'].isna().sum()

np.int64(533)

In [28]:
df_merged['phan_loai'] = df_merged['phan_loai'].fillna('None')

In [29]:
print(df_merged)

      ma_san_pham                                       ten_san_pham  gia_ban  \
0       318900012  Nước Hoa Hồng Klairs Không Mùi Cho Da Nhạy Cảm...   209000
1       205100137  Nước Tẩy Trang L'Oreal Tươi Mát Cho Da Dầu, Hỗ...   147000
2       422208973  Sữa Rửa Mặt CeraVe Sạch Sâu Cho Da Thường Đến ...   343000
3       204900013  Kem Chống Nắng La Roche-Posay Kiểm Soát Dầu SP...   377000
4       253900006  Kem Chống Nắng Skin1004 Cho Da Nhạy Cảm SPF 50...   210000
...           ...                                                ...      ...
1214    422219670  Serum Chống Nắng Dưỡng Thể Bioré Peach Pearly ...   185000
1215    226200001                      Khăn Tẩy Trang Acnes 20 Miếng    53000
1216    422218200  Mặt Nạ Colorkey Dưỡng Ẩm Sáng Da Với Niacinami...    11000
1217    422206775  [Mua 1 Tặng 1] Freeplus Kem Dưỡng Ẩm Màng Nước...   899000
1218    422207117  Lotion Curél Dưỡng Ẩm Chuyên Sâu Cho Da Lão Hó...   494000

       gia_goc                                          phan_loai  \
0     435000.0               2x180ml 180ml Không Mùi Có Mùi Hương
1     229000.0  2x400ml 95ml 400ml Làm Sạch Sâu Tươi Mát Da Ki...
2     455000.0  88ml 236ml 473ml Da khô/Hỗn hợp khô Da dầu/Hỗn...
3     560000.0                                        2x50ml 50ml
4     445000.0                                          20ml 50ml
...        ...                                                ...
1214  259000.0                      Light To Medium Medium To Tan
1215   65000.0                                               None
1216   15000.0  1 miếng 10 miếng Dưỡng Ẩm Ngừa Nụn Dưỡng Ẩm Dị...
1217  945000.0                                               None
1218  641000.0                                               None

                                                  mo_ta  diem_trung_binh  \
0     Nước Hoa Hồng Klairs Supple Preparation là dòn...              4.8
1     Nước Tẩy Trang L'Oréal là dòng sản phẩm tẩy tr...              4.7
2     Sữa Rửa Mặt Cerave Sạch Sâu là sản phẩm sữa rử...              4.9
3     Kem chống nắng giúp bảo vệ da khỏi tia UVB & U...              4.6
4     Kem Chống Nắng Skin1004 Cho Da Nhạy Cảm là sản...              4.6
...                                                 ...              ...
1214  Serum Chống Nắng Dưỡng Thể Bioré UV Aqua Rich ...              0.0
1215  Khăn Giấy Tẩy Trang Acnes Make Up Remover Shee...              3.5
1216  Mặt Nạ Colorkey Luminous B5 Facial Mask 25ml l...              4.0
1217  Bộ sản phẩm bao gồm 2 món:Kem Dưỡng Ẩm Màng Nư...              0.0
1218  Lotion Curél Dưỡng Ẩm Chuyên Sâu Cho Da Lão Hó...              5.0

                                               hinh_anh
0     https://media.hcdn.vn/catalog/product/p/r/prom...
1     https://media.hcdn.vn/catalog/product/f/a/face...
2     https://media.hcdn.vn/catalog/product/p/r/prom...
3     https://media.hcdn.vn/catalog/product/p/r/prom...
4     https://media.hcdn.vn/catalog/product/p/r/prom...
...                                                 ...
1214              https://hasaki.vn/img/placeholder.svg
1215  https://media.hcdn.vn/catalog/product/f/a/face...
1216              https://hasaki.vn/img/placeholder.svg
1217  https://media.hcdn.vn/catalog/product/f/a/face...
1218              https://hasaki.vn/img/placeholder.svg

[1219 rows x 8 columns]

In [ ]:
df_merged.to_csv('Product.csv',index=False)

In [18]:
df_danhgia = pd.read_csv('data/Danh_gia1.csv')
df_danhgia.shape

(20674, 7)

In [33]:
df_danhgia.drop_duplicates(inplace=True)

In [19]:
df_danhgia.isnull().sum()

id                    0
ma_khach_hang         0
noi_dung_binh_luan    0
ngay_binh_luan        0
gio_binh_luan         0
so_sao                0
ma_san_pham           0
dtype: int64

In [35]:
df_danhgia.isna().sum()

id                    0
ma_khach_hang         0
noi_dung_binh_luan    0
ngay_binh_luan        0
gio_binh_luan         0
so_sao                0
ma_san_pham           0
dtype: int64

In [36]:
df_danhgia = df_danhgia.dropna()
df_danhgia.shape

(20674, 7)

In [106]:
df_danhgia.to_csv('Danh_gia1.csv',index=False)

In [113]:
luotmua = df_danhgia[df_danhgia['ma_san_pham']==100100001].groupby('ma_san_pham',as_index=False)['ma_khach_hang'].count()

In [114]:
luotmua

   ma_san_pham  ma_khach_hang
0    100100001              8

In [ ]:
df_danhgia[df_danhgia['ma_san_pham']==100100001][['noi_dung_binh_luan','gio_binh_luan','ngay_binh_luan']].values[1]

,id,ma_khach_hang,noi_dung_binh_luan,ngay_binh_luan,gio_binh_luan,so_sao,ma_san_pham
4160,4161,1216,"sáp dưỡng môi không mùi, chất khá dày, dưỡng m...",31/12/2021,13:33,5,100100001
4206,4207,1551,"Dùng xong môi mềm mượt, hủ lớn sài đc lâu, sáp...",8/6/2022,12:34,5,100100001
7662,7663,1260,Hũ này dùng được lâu đa năng,1/10/2023,15:12,5,100100001
9718,9719,2084,đồ quốc dân đa công dụng ✨,10/4/2024,16:26,5,100100001
11507,11508,1932,Cực kỳ bực mình vì sản phẩm quá kém chất lượng.,9/5/2021,16:42,1,100100001
15794,15795,3954,5 sao,13/09/2023,12:32,5,100100001
17526,17527,3957,Dưỡng ẩm cũng ok mà hơi lâu khô,16/02/2023,23:07,4,100100001
19463,19464,3953,"Khá nhiều, dùng oki nha, shipper thân thiện 10đ",6/10/2023,17:11,5,100100001

In [132]:
paint = df_danhgia[df_danhgia['ma_san_pham']==100100001].groupby('so_sao',as_index=False)['ma_khach_hang'].count()
paint.rename(columns={"ma_khach_hang": "tong_so_luong"}, inplace=True)
paint

   so_sao  tong_so_luong
0       1              1
1       4              1
2       5              6

In [ ]:
df_danhgia[df_danhgia['ma_san_pham']==100100001]

,id,ma_khach_hang,noi_dung_binh_luan,ngay_binh_luan,gio_binh_luan,so_sao,ma_san_pham
4160,4161,1216,"sáp dưỡng môi không mùi, chất khá dày, dưỡng m...",31/12/2021,13:33,5,100100001
4206,4207,1551,"Dùng xong môi mềm mượt, hủ lớn sài đc lâu, sáp...",8/6/2022,12:34,5,100100001
7662,7663,1260,Hũ này dùng được lâu đa năng,1/10/2023,15:12,5,100100001
9718,9719,2084,đồ quốc dân đa công dụng ✨,10/4/2024,16:26,5,100100001
11507,11508,1932,Cực kỳ bực mình vì sản phẩm quá kém chất lượng.,9/5/2021,16:42,1,100100001
15794,15795,3954,5 sao,13/09/2023,12:32,5,100100001
17526,17527,3957,Dưỡng ẩm cũng ok mà hơi lâu khô,16/02/2023,23:07,4,100100001
19463,19464,3953,"Khá nhiều, dùng oki nha, shipper thân thiện 10đ",6/10/2023,17:11,5,100100001

In [20]:
df_danhgia.groupby('ma_khach_hang')['ma_san_pham'].count().tail()

ma_khach_hang
4708    1
4719    1
4722    1
4734    1
4735    1
Name: ma_san_pham, dtype: int64

### tạo 2 cột username và password cho file Customer.csv

In [57]:
df_customer = pd.read_csv('data/Customer.csv')
df_customer.shape

(4736, 3)

In [58]:
df_customer['username'] = None

In [60]:
df_customer['password'] = None

In [61]:
df_customer.shape

(4736, 5)

In [63]:
df_customer.head(3)

   Unnamed: 0  ma_khach_hang                   ho_ten username password
0           0              1           Hoàng Anh Trần     None     None
1           1              2  Nguyễn Lương Nhi Phương     None     None
2           2              3         Nguyễn Thu Trang     None     None

In [64]:
df_customer=df_customer.drop(columns='Unnamed: 0')

In [65]:
df_customer.to_csv('Customer1.csv',index=False)

In [66]:
df_test = pd.read_csv('Customer1.csv')
df_test.head(4)

   ma_khach_hang                   ho_ten  username   password
0              0           Trần Đăng Diệp  user_new  password0
1              1           Hoàng Anh Trần     user1  password1
2              2  Nguyễn Lương Nhi Phương     user2  password2
3              3         Nguyễn Thu Trang     user3  password3

In [84]:
df_top10 = df_danhgia.groupby('ma_san_pham',as_index=False)['so_sao'].count().sort_values(by='so_sao').tail(10)
df_top10

     ma_san_pham  so_sao
398    422205162     252
235    308500013     255
496    422208807     273
439    422206648     275
88     205100136     276
572    422211447     279
571    422211446     279
90     205100146     279
89     205100137     280
376    422204259     288

In [86]:
df_dtb = df_merged[['ma_san_pham','diem_trung_binh']]

In [87]:
top10_merged = pd.merge(df_top10, df_dtb, on="ma_san_pham",how="left")
top10_merged

   ma_san_pham  so_sao  diem_trung_binh
0    422205162     252              4.9
1    308500013     255              4.9
2    422208807     273              4.7
3    422206648     275              4.7
4    205100136     276              4.7
5    422211447     279              4.7
6    422211446     279              4.7
7    205100146     279              4.7
8    205100137     280              4.7
9    422204259     288              4.7

In [7]:
df1 = pd.read_csv("data/Product.csv")
df1.shape

(1219, 8)

In [9]:
df1.duplicated().sum()

33

In [10]:
df1 = df1.drop_duplicates()
df1.shape

(1186, 8)

In [12]:
df1['phan_loai'] = df1['phan_loai'].fillna('None')

In [13]:
df1.to_csv("Product.csv",index=False)

In [14]:
from surprise import Reader, Dataset, SVD, SVDpp, NMF, SlopeOne, KNNBasic, KNNBaseline, KNNWithMeans, KNNWithZScore, CoClustering, BaselineOnly
from surprise.model_selection.validation import cross_validate
import pickle

In [15]:
with open('model/surprise_knn_model.pkl', 'rb') as f:
    algorithm_KNN = pickle.load(f)

In [16]:
def recommended_top5(userId,df_sub,algorithm_KNN):
  df_score = df_sub[["ma_san_pham","ten_san_pham"]]

#   #loại bỏ những sản phẩm đã được mua
#   df_score = df_score[~df_score['ma_san_pham'].isin(df_select.index)]
#   df_score.reset_index(drop=True,inplace=True)

  #tạo cột và dự đoán các giá trị
  df_score['EstimateScore'] = df_score['ma_san_pham'].apply(lambda x: algorithm_KNN.predict(userId, x).est) # est: get EstimateScore

  #sắp xếp lại các giá trị theo thứ tự giảm dần
  df_score = df_score.sort_values(by=['EstimateScore'], ascending=False)

  #xóa dữ liệu trùng
  df_score = df_score.drop_duplicates()

  #lọc những dòng có EstimateScore >= 4
  df_score = df_score[df_score['EstimateScore'] >= 4].head()
  return df_score

In [17]:
recommended_top5(443,df1,algorithm_KNN)

C:\Users\diep5\AppData\Local\Temp\ipykernel_19856\2594256131.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_score['EstimateScore'] = df_score['ma_san_pham'].apply(lambda x: algorithm_KNN.predict(userId, x).est) # est: get EstimateScore

,ma_san_pham,ten_san_pham,EstimateScore
466,422203146,Sữa Chống Nắng Sunplay Hiệu Chỉnh Sắc Da 50g (...,5.0
574,308500018,Mặt Nạ Naruko Hoa Thủy Tiên Hỗ Trợ Phục Hồi Da...,5.0
230,422203807,Combo 2 Bông Tẩy Trang Ipek 150 Miếng,5.0
566,422216594,Combo 2 Nước Tẩy Trang Bioderma Dành Cho Da Dầ...,5.0
142,249500013,Sữa Chống Nắng Sunplay Skin Aqua Dưỡng Da Sáng...,5.0